@font-face {
  font-family: Louise; /* set name */
  src: url(Louise-Regular.woff2); /* url of the font */
}

p {
  font-family: Louise; /* use font */
}

.center{
  position: relative;
  transform: translate(0,0);
  margin: 1vw;
  padding: 1vw;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
}

.container{
  position: relative;
  width: auto;
  height: 60vw;
  background-color: rgb(234, 230, 197);
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 5vw;
  margin: 5vw;
}

h1{
    font-size: large;
    color: rgba(223, 186, 40, 0.992);
    font-family: Louise;
}

.cat{
    background-color: orange;
    width: 10vw;
    height: 10vw;

}

.frog{
    background-color: darkcyan;
    width: 10vw;
    height: 10vw;
}
