@font-face {
  font-family: Louise; /* set name */
  src: url(Louise-Regular.woff2); /* url of the font */
}

p {
  font-family: Louise; /* use font */
}

.center{
  position: absolute;
  transform: translate(0,0);
  margin: 1vw;
  padding: 1vw;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
}

.container{
  position: relative;
  width: auto;
  height: 60vw;
  background-color: rgb(234, 230, 197);
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 5vw;
  margin: 5vw;
}

h1{
    font-size: 80px;
    color: rgba(223, 186, 40, 0.992);
    font-family: Louise;
    width: auto;
    height: 60vw;
    display: flex;
    flex-direction: column;
    padding: 5vw;
    margin: 5vw;
    position: absolute;
}

p{
  font-size: 30px;
  color: rgba(223, 186, 40, 0.992);
  font-family: Louise;
  width: auto;
  height: 10vw;
  display: flex;
  flex-direction: column;
  padding: 1vw;
  margin: 1vw;
  position: absolute;
  left: 8%;
  top: 85%;
}
.cat{
    width: 15vw;
    height: auto;
    position: absolute;

}

.frog{
    width: 15vw;
    height: auto;
    position: absolute;
    animation: MoveUpDown 10s linear infinite;
}

.cat2{
  width: 10vw;
  height: auto;
  position: absolute;
}
.frog2{
  width: 10vw;
  height: auto;
  position: absolute;
}
